$side: 10.2vh;
$white: white;
$black: black;

div {
  position: relative;
  width: $side;
  height: $side;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay::before {
  content: '';
  background-color: #dac43294 !important;
  position: absolute;
  width: $side;
  height: $side;
  z-index: 2;
}
