<div *ngIf="piece?.name; else nothing">
  <div [ngStyle]="myStyle" [ngSwitch]="piece.name">
    {{value}}
    <app-bishop-component [piece]="piece" *ngSwitchCase="'Bishop'"></app-bishop-component>
    <app-king-component [piece]="piece" *ngSwitchCase="'King'"></app-king-component>
    <app-rook [piece]="piece" *ngSwitchCase="'Rook'"></app-rook>
    <app-knight [piece]="piece" *ngSwitchCase="'Knight'"></app-knight>
    <app-queen [piece]="piece" *ngSwitchCase="'Queen'"></app-queen>
    <app-pawn [piece]="piece" *ngSwitchCase="'Pawn'"></app-pawn>
  </div>
</div>
<ng-template #nothing>
  <div [ngStyle]="myStyle">
    {{value}}
  </div>
</ng-template>
