@import '../../../styles.scss';

div {
  position: relative;
  width: $side;
  height: $side;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastPlayed::before {
  content: '';
  background-color: #ffdd00 !important;
  position: absolute;
  width: $side;
  height: $side;
  z-index: 2;
}

.selectedSquare::before {
  content: '';
  background-color: #ffdd00 !important;
  position: absolute;
  width: $side;
  height: $side;
  z-index: 2;
}

.availableSquare::after {
  content: '';
  background-color: #c4c4c494 !important;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  z-index: 2;
}

p {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.coordinateLetter {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.coordinateNumber {
  position: absolute;
  top: 5px;
  left: 5px;
}
