$side: 10.2vh;
$white: white;
$black: black;

div {
  position: relative;
  width: $side;
  height: $side;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastPlayed::before {
  content: '';
  background-color: #dac43294 !important;
  position: absolute;
  width: $side;
  height: $side;
  z-index: 2;
}

.selectedSquare::before {
  content: '';
  background-color: #dac43294 !important;
  position: absolute;
  width: $side;
  height: $side;
  z-index: 2;
}

.availableSquare::after {
  content: '';
  background-color: #c4c4c494 !important;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  z-index: 2;
}
