<div *ngIf="piece?.name; else nothing">
  <div [ngStyle]="myStyle"
    [ngClass]="{'lastPlayed': isLastPlayed, 'selectedSquare': isSelected, 'availableSquare': isPopulated && isSelected}"
    [ngSwitch]="piece.name">
    <p [ngStyle]="{color: textCoordinateX % 2 !== 0 ? colorWhite : colorBlack}" class="coordinateNumber">
      {{textCoordinateX}}</p>
    <p [ngStyle]="{color: textCoordinateY.charCodeAt(0) % 2 !== 0 ? colorWhite : colorBlack}" class="coordinateLetter">
      {{textCoordinateY}}</p>

    <app-bishop-component [piece]="piece" [value]="value" *ngSwitchCase="'Bishop'"></app-bishop-component>
    <app-king-component [piece]="piece" [value]="value" *ngSwitchCase="'King'"></app-king-component>
    <app-rook [piece]="piece" [value]="value" *ngSwitchCase="'Rook'"></app-rook>
    <app-knight [piece]="piece" [value]="value" *ngSwitchCase="'Knight'"></app-knight>
    <app-queen [piece]="piece" [value]="value" *ngSwitchCase="'Queen'"></app-queen>
    <app-pawn [piece]="piece" [value]="value" *ngSwitchCase="'Pawn'"></app-pawn>
  </div>
</div>
<ng-template #nothing>
  <div [ngStyle]="myStyle"
    [ngClass]="{'lastPlayed': isLastPlayed, 'selectedSquare': isSelected, 'availableSquare': isPopulated && isSelected}"
    (click)="setDestination()">
    <p [ngStyle]="{color: textCoordinateX % 2 !== 0 ? colorWhite : colorBlack}" class="coordinateNumber">
      {{textCoordinateX}}</p>
    <p [ngStyle]="{color: textCoordinateX % 2 !== 0 ? colorWhite : colorBlack}" class="coordinateLetter">
      {{textCoordinateY}}</p>
  </div>
</ng-template>
